*,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Avenir-Medium" ;   
}

@font-face {
    font-family: "Avenir-Medium" ;
   /* src: url("../fonts/Avenir-Medium.ttf"); */
   src: url("../fonts/Avenir-Medium.ttf");
}
.main-conatiner{
    max-width: 1920px;
    margin: 0 auto;
    background: white;
}
.inner-container{
    max-width: 1240px;
    margin: 0 auto;
}
  /* this  button use in all button in this webpage */
button{
    background: #7D83FF;
    border: 1px solid #530FA4;
    box-shadow: #000000;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
        /* Login page area  */
.main-conatiner .login-page{
    display: grid;
    grid-template-columns: auto 1fr;
}
.main-conatiner .login-page .logo{
    padding-top: 48px;
    margin-bottom: 100px;
}
.main-conatiner .login-page .login-content{
    background: url("../images/Group\ 10473.svg") no-repeat;
    background-size: cover;
    width: 800px;
    height: 900px;
    padding: 0px 93px;
}
.main-conatiner .login-page .login-content .heading h1{
    font-size: 73px;
    color: white;
    margin-bottom: 170px;
    line-height: 80px;
    font-weight: normal;
}
.main-conatiner .login-page .login-content .paragraph h1{
    font-size: 24px;
    color: white;
}
.main-conatiner .login-page .login-content .paragraph p{
    color: white;
    font-size: 16px;
}
                 /* login form  start*/
.main-conatiner .login-page .login-form{
    padding: 0px 240px;
    background: white;
}
.main-conatiner .login-page .login-form .login-form-content{
    margin-bottom: 37px;
    color: #6D6D6D;
}
.main-conatiner .login-page .login-form .login-form-content h1{
    font-size: 30px;
}
.main-conatiner .login-page .login-form .login-form-content p{
    font-size: 16px;
   text-align: left;
   line-height: 20px;
}
.main-conatiner .login-page .login-form .input-field p input{
    width: 517px;
    height: 40px;
    border: 1px solid var(--unnamed-color-7d83ff);
    border: 1px solid #7D83FF;
    border-radius: 4px;
    opacity: 1;
    outline: none;
    font-size: 16px;
}
.main-conatiner .login-page .login-form .input-field label{
    font-size: 16px;
  line-height: 30px;
    text-align: left;
}
.main-conatiner .login-page .login-form .input-field p{
    margin-bottom: 18px;
    color: #6D6D6D;
    text-align: left;
}
.main-conatiner .login-page .login-form .input-field p:last-child{
    margin-bottom: 0px;
}
input::placeholder{
   font-size: 20px;
}
.main-conatiner .login-page .login-form .input-field p input{
    padding: 0px 10px;
    line-height: 40px;
}
.main-conatiner .login-page .login-form .input-field .checkbox input{
    width: 16px;
    height: 16px;
}
.main-conatiner .login-page .login-form .form{
    margin-bottom: 56px;
}
.main-conatiner .login-page .login-form button{
    width: 517px;
    height: 40px;
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
}
.main-conatiner .login-page .login-form button a{
    text-decoration: none;
    color: white;
}
.main-conatiner .login-page .login-form p {
    text-align: center;  
}
.main-conatiner .login-page .login-form p span a{
    text-decoration: none;
}

/* login page area end */

/* Sign up page area start */
.main-conatiner .sign-up-page{
    display: grid;
    grid-template-columns: auto 1fr;
}
.main-conatiner .sign-up-page .logo{
    padding-top: 48px;
    margin-bottom: 90px;
}
.main-conatiner .sign-up-page .sign-up-content{
   background: url("../images/Group\ 10473.svg") no-repeat;
    background-size: cover;
    width: 800px;
    height: 900px;
    padding: 0px 93px;
}
.main-conatiner .sign-up-page .sign-up-content .heading h1{
    font-size: 73px;
    color: white;
    margin-bottom: 170px;
    line-height: 80px;
    font-weight: normal;
}
.main-conatiner .sign-up-page .sign-up-content .paragraph h1{
    font-size: 24px;
    color: white;
}
.main-conatiner .sign-up-page .sign-up-content .paragraph p{
    color: white;
    font-size: 16px;
}

.main-conatiner .sign-up-page .sign-up-form{
    padding: 0px 240px;
    background: white;
}
.main-conatiner .sign-up-page .sign-up-form .sign-up-form-content{
    margin-bottom: 37px;
    color: #6D6D6D;
}
.main-conatiner .sign-up-page .sign-up-form .sign-up-form-content h1{
    font-size: 30px;
}
.main-conatiner .sign-up-page .sign-up-form .sign-up-form-content p{
    font-size: 16px;
    text-align: left;
    line-height: 20px;
}
.main-conatiner .sign-up-page .sign-up-form .input-field p input{
    width: 517px;
    height: 40px;
    border: 1px solid var(--unnamed-color-7d83ff);
    border: 1px solid #7D83FF;
    border-radius: 4px;
    opacity: 1;
    outline: none;
    font-size: 16px;
}
.main-conatiner .sign-up-page .sign-up-form .input-field label{
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}
.main-conatiner .sign-up-page .sign-up-form .input-field p{
    margin-bottom: 18px;
    color: #6D6D6D;
    text-align: left;
}
.main-conatiner .sign-up-page .sign-up-form .input-field p:last-child{
    margin-bottom: 0px;
}
input::placeholder{
   font-size: 20px;
}
.main-conatiner .sign-up-page .sign-up-form .input-field p input{
    padding: 0px 10px;
    line-height: 40px;
}
.main-conatiner .sign-up-page .sign-up-form .form{
    margin-bottom: 56px;
}
.main-conatiner .sign-up-page .sign-up-form button{
    width: 517px;
    height: 40px;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
.main-conatiner .sign-up-page .sign-up-form p{
    text-align: center;
}
.main-conatiner .sign-up-page .sign-up-form p span a{
    text-decoration: none;
}
/* Sign up page area end */

/* forget password area start */
.main-conatiner .forget-password-page{
    display: grid;
    grid-template-columns: auto 1fr;
}
.main-conatiner .forget-password-page .logo{
    padding-top: 48px;
    margin-bottom: 100px;
}
.main-conatiner .forget-password-page .forget-password-content{
    background: url("../images/Group\ 10475.svg") no-repeat;
    background-size: cover;
    width: 800px;
    height: 900px;
    padding: 0px 93px;
}
.main-conatiner .forget-password-page .forget-password-content .heading h1{
    font-size: 73px;
    color: white;
    margin-bottom: 170px;
    line-height: 80px;
    font-weight: normal;
}
.main-conatiner .forget-password-page .forget-password-content .paragraph h1{
    font-size: 24px;
    color: white;
}
.main-conatiner .forget-password-page .forget-password-content .paragraph p{
    color: white;
    font-size: 16px;
}
                 /* forget password form  start*/
.main-conatiner .forget-password-page .forget-password-form{
    padding: 0px 240px;
    background: white;
}
.main-conatiner .forget-password-page .forget-password-form .forget-password-form-content{
    margin-bottom: 37px;
    color: #6D6D6D;
    text-align: center;
}
.main-conatiner .forget-password-page .forget-password-form .forget-password-form-content h1{
    font-size: 30px;
    margin-bottom: 35px;
}

.main-conatiner .forget-password-page .forget-password-form .forget-password-form-content p{
    font-size: 16px;
}
.main-conatiner .forget-password-page .forget-password-form .input-field p input{
    width: 517px;
    height: 40px;
    border: 1px solid var(--unnamed-color-7d83ff);
    border: 1px solid #7D83FF;
    border-radius: 4px;
    opacity: 1;
    outline: none;
    font-size: 16px;
}
.main-conatiner .forget-password-page .forget-password-form .input-field label{
    font-size: 16px;
  line-height: 30px;
  padding: 0px 0px;
}
.main-conatiner .forget-password-page .forget-password-form .input-field p{
    margin-bottom: 18px;
    color: #6D6D6D;
    padding: 0px 0px;
}
.main-conatiner .forget-password-page .forget-password-form .input-field p:last-child{
    margin-bottom: 0px;
}
input::placeholder{
   font-size: 20px;
   line-height: 40px;
}
.main-conatiner .forget-password-page .forget-password-form .input-field p input{
    padding: 0px 10px;
    line-height: 40px;
}
.main-conatiner .forget-password-page .forget-password-form .form{
    margin-bottom: 56px;
}
.main-conatiner .forget-password-page .forget-password-form button{
    width: 517px;
    height: 40px;
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
}
.main-conatiner .forget-password-page .forget-password-form p{
    padding: 0px 140px;
}
.main-conatiner .forget-password-page .forget-password-form button a{
    text-decoration: none;
    color: white;
}
 /* User Profile Start */
.main-conatiner .inner-container header{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 100px;
    margin-bottom: 20px;
}
.main-conatiner .inner-container header .menu{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
  /* Left Menu */
.main-conatiner .inner-container header .menu .left-menu ul{
    height: 56px;
}
.main-conatiner .inner-container header .menu .left-menu ul li{
    display: inline-block;
    margin-right: 46px;
    line-height: 56px;
}
.main-conatiner .inner-container header .menu .left-menu ul li:last-child{
    margin-right: 0px;
}
.main-conatiner .inner-container header .menu .left-menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #A7A7A7;
}
.main-conatiner .inner-container header .menu .left-menu ul li a:hover{
    color: black;
}
/* .main-conatiner .inner-container header .menu .left-menu ul li a.active{
    /* color: black; */
  /* Right Menu  */
  .main-conatiner .inner-container header .menu .right-menu{
    position: relative;
  }
  .main-conatiner .inner-container header .menu .right-menu .harry-img{
   padding-left: 50px;
   
  }
  .main-conatiner .inner-container header .menu .right-menu .harry-img img{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0,-50%);
      width: 40px;
      height: 40px;
  }
  .main-conatiner .inner-container header .menu .right-menu img{
      align-self: center;
  }
  .main-conatiner .inner-container header .menu .right-menu ul{
    height: 56px; 
}
.main-conatiner .inner-container header .menu .right-menu ul li{
    display: inline-block;
    line-height: 56px; 
    margin-right: 36px;
}
.main-conatiner .inner-container header .menu .right-menu ul li:last-child{
    margin-right: 0px;
}
.main-conatiner .inner-container header .menu .right-menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: #A7A7A7;
}
.main-conatiner .inner-container header .menu .right-menu ul li a:hover{
    color: black;
}
.main-conatiner .inner-container .side-menu-profile{
    display: grid;
    grid-template-columns: 167px 1fr;
    grid-gap: 100px;
    justify-items: center;
}
.main-conatiner .inner-container .side-menu-profile .sports-club-menu ul li {
    list-style: none;
    margin-bottom: 6px;
}
.main-conatiner .inner-container .side-menu-profile .sports-club-menu ul li:last-child{
    margin-bottom: 0px;
}
.main-conatiner .inner-container .side-menu-profile .sports-club-menu ul li a{
   text-transform: capitalize;
   font-size: 16px;
   color: black;
   text-decoration: none;
}
.main-conatiner .inner-container .side-menu-profile .sports-club-menu ul li a:hover{
    color: black;
}
.main-conatiner .inner-container .side-menu-profile .sports-club-menu ul li ul{
    margin-top: 10px;
}
.main-conatiner .inner-container .side-menu-profile .sports-club-menu ul li ul li a{
    text-transform: capitalize;
    color: #A7A7A7;
}
.main-conatiner .inner-container .side-menu-profile .user-profile-logo{
    text-align: center;
    margin-bottom: 20px;
}
.main-conatiner .inner-container .side-menu-profile .sports-club-menu ul li ul{
    margin-top: 10px;
}
.main-conatiner .inner-container .side-menu-profile .user-profile form .input-field input{
    width: 704px;
    height: 50px;
    outline: none;
    background: #F9F9FC;
    border: none;
    padding: 0px 10px;
    line-height: 50;
    border-radius: 10px;
}
.main-conatiner .inner-container .side-menu-profile .user-profile form .input-field select{
    width: 704px;
    height: 50px;
    outline: none;
    background: #F9F9FC;
    border: none;
    padding: 0px 10px;
    line-height: 50;
    border-radius: 10px;
}
.main-conatiner .inner-container .side-menu-profile .user-profile form .input-field p{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 44px;
}
.main-conatiner .inner-container .side-menu-profile .user-profile form .input-field p:last-child{
    margin-bottom: 0px;
}
/* Stuserve guilds */
.main-conatiner .inner-container .side-menu-profile{
    display: grid;
    grid-template-columns: 167px 1fr;
    grid-gap: 100px;
    justify-items: left;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-guilds{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 17px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-guilds .stuserve-boxes .stuserve-heading{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    margin-bottom: 15px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-guilds .stuserve-boxes .stuserve-heading h1{
    font-weight: normal;
    font-size: 20px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-guilds .stuserve-boxes .stuserve-heading img{
    align-self: center;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-guilds .stuserve-boxes{
    box-shadow: 0px 4px 10px  #00000031;
    border-radius: 10px;
    max-width: 476px;
    padding: 19px 22px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-guilds .stuserve-boxes p{
    margin-bottom: 19px;
    font-size: 16px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-guilds .stuserve-boxes .subscribe-btn {
    width: 130px;
    height: 30px;
    color: white;
    line-height: 30px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-guilds .stuserve-boxes button.subscribed {
    background-color: grey;
}
                                   /* feed and posts */
.main-conatiner .inner-container .side-menu-profile{
    margin-bottom: 50px;
}                                   
.main-conatiner .inner-container .side-menu-profile .all-posts-menu ul #posts-menu{
    color: black;
}
.main-conatiner .inner-container .side-menu-profile .all-posts-menu ul li {
    list-style: none;
    margin-bottom: 28px;
}
.main-conatiner .inner-container .side-menu-profile .all-posts-menu ul li:last-child{
    margin-bottom: 0px;
}
.main-conatiner .inner-container .side-menu-profile .all-posts-menu ul li a{
    text-decoration: none;
    color: #A7A7A7;
}
.main-conatiner .inner-container .side-menu-profile .all-posts-menu ul li a:hover{
    color: black;
}
.main-conatiner .inner-container .side-menu-profile .all-posts-menu ul li ul{
    padding-left: 20px;
    margin-top: 10px;
}
.main-conatiner .inner-container .side-menu-profile .all-posts-menu ul li .first-inner-menu li{
    margin-bottom: 10px;
}
.main-conatiner .inner-container .my-post{
    width: 140px;
    height: 30px;
    color: white;
    margin-left:266px;
    margin-bottom: 10px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 17px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes{
    width: 476px;
    /* height: 192px; */
    box-shadow: 0px 4px 10px  #00000031;
    border-radius: 10px;
    padding: 19px 22px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes .stuserve-heading{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    /* margin-bottom: 15px; */
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes .stuserve-heading h1{
    font-size: 16px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes .stuserve-heading img{
    align-self: center;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes h4{
    color: #8F8F8F;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 6px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes p{
    line-height: 20px;
    color: #393939;
    font-size: 16px;
    margin-bottom: 20px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes img{
    margin-bottom: 8px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes .mesaging{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 6px;
    align-items: center;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes .mesaging img{
    margin-bottom: 0px;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes .mesaging h3{
    font-weight: normal;
}
.main-conatiner .inner-container .side-menu-profile .stuserve-feed-posts .feed-boxes .mesaging .icons{
    justify-self: end;
    width: 12px;
    height: 16px;
}
  /* first single post start */
.main-conatiner .inner-container .side-menu-profile .first-single-posts{
    width: 826px;
    padding: 46px 52px;
    box-shadow: 0px 0px 3px  #707070;
    border-radius: 10px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts  .stuserve-post-heading{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: end;
    /* margin-bottom: 15px; */
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts  .stuserve-post-heading img{
    align-self: center;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts  h4{
    font-weight: normal;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts  p{
    margin-bottom: 17px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts  img{
    margin-bottom: 20px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts  .post-mesaging{
    display: grid;
    grid-template-columns: auto  auto auto auto 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    align-items: center;
    margin-bottom: 35px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts  .post-mesaging img{
    margin-bottom: 0px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts .post-mesaging h2{
    font-weight: normal;
    font-size: 18px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts  .post-mesaging h3{
    font-weight: normal;
    font-size: 18px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts  .post-mesaging .posts-icons{
    justify-self: end;
    width: 12px;
    height: 16px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts .first-comment-field img{
    margin-bottom: 0px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts .first-comment-field {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-gap: 19px;
    margin-bottom: 12px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts .first-comment-field input{
    width: 218px ;
    height: 38px;
    outline: none;
    padding: 0px 8px;
    font-size: 16px;
    border: 1px solid #707070;
    border-radius: 5px;
}
input::placeholder{
    line-height: 38px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts .second-comment{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 19px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts .second-comment img{
    margin-bottom: 0px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts .second-comment .comment h2{
    font-weight: normal;
    font-size: 18px;
}
.main-conatiner .inner-container .side-menu-profile .first-single-posts .second-comment .comment h3{
    font-weight: normal;
    font-size: 18px;
}
/* first single post end */
/* second single post start */
.main-conatiner .inner-container .side-menu-profile .first-single-posts.have-border {
    width: 826px;
    padding: 46px 52px;
    box-shadow: 0px 0px 0px 0px;
    border-radius: 10px;
}